.table > tbody > tr > td {
    vertical-align: middle!important;
    text-align: center;
}

span.glyphicon {
    cursor: pointer!important;
}

@font-face {
    font-family: Friz Quadrata TT;
    src: url('/fonts/FRIZQT__.TTF');
}
.gossip {
    background: url('/img/gossip/gossip.png') no-repeat;
    width: 354px;
    height: 446px;
    position: relative;
    padding: 21px 0 0 0;
    margin: 0 auto;
    font-family: 'Friz Quadrata TT', serif;
    letter-spacing: 0.2px;
}
.guid_name {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    padding: 0 0 0 73px;
    text-align: center;
    width: 330px;
    height: 20px;
}
.gossip_text {
    color: #231d16;
    line-height: 1;
    width: 290px;
    margin: auto;
    padding: 50px 0 0 0;
    margin-bottom: 20px;
}
.options {
    padding: 1px 5px;
    position: relative;
    margin: 0 0 3px 0;
    cursor: pointer;
    letter-spacing: .2px;
    line-height: 1;
    width: 300px;
    margin: auto;
}
.options img {
    vertical-align: top;
}
.options:hover::after {
    display: block;
}
.options::after {
    content: "";
    display: none;
    background: url('/img/gossip/UI-Listbox-Highlight.png') no-repeat;
    opacity: .75;
    background-size: 100% 100%;
    mix-blend-mode: color-dodge;
    width: 100%;
    height: 100%;
    padding: 1px 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

#menus {
    margin: 20px 0 0 15px;
}