{% extends "layout.html.twig" %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block content %}
<div class="col-md-6">
    <h2>Welcome to ElyDev</h2>
    <p>
        ElyDev assembles all the tools we have made to produce quality scripts faster.
    </p>
</div>
{% endblock %}