<button id="apply" class="btn btn-info btn-xs">Apply</button>
<button id="review" class="btn btn-primary btn-xs">Commit</button>
{% if is_granted('ROLE_ADMIN') %}
    <button id="validate" class="btn btn-success btn-xs">Validate</button>
    <button id="refuse" class="btn btn-danger btn-xs">Refuse</button>
{% endif %}